@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	background-image: linear-gradient(
		to right top,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	);
}
