.btn {
	background-color: #bbdefb;
	display: grid;
	place-items: center;
	transition: background-color 200ms ease-out;
}

.btn:hover {
	background-color: rgba(187, 222, 251, 0.7);
	cursor: pointer;
}
